.App {
  text-align: center;
  color: #aaa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-logo {
  display: flex;
  align-self: flex-start;
}

@media (max-width: 660px) {
  .header-logo {
    height: 14vh;
  }
}

.App-header {
  height: 10vh;
  background-color: #343a40!important;
  border-bottom: #dc3545 solid;
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}