.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2%;
  border-top: #dc3545 solid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('https://nts.comedyworks.com/uploads/images/black-brick.png');
  
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  color: black
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
}

