.dashboard {
  min-height: 100vh;
  width: 100;
  display: flex;
  /* padding: 2%; */
  border-top: #dc3545 solid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('./images/black-brick.png');
  
}
.dashboard__container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  background-color: #dcdcdc;
  padding: 3px 3px 3px 3px;
  color: black;
  position: absolute;
  top: 3px;
  right: 3px;
  min-width: 15vw;
  font-size: .6rem;
  font-weight: 800;
}
.dashboard__btn, .name-change__btn {
  padding: 4px;
  font-size: .7rem;
  margin-bottom: 2px;
  border: none;
  color: white;
  background-color: black;
}
/* 
.dashboard div {
  margin-top: 7px;
} */

.name-change__btn {
  background-color: #dc3545;
  margin-bottom: 6px;
}

.logout-buttons {
  display: flex;
  flex-direction: column;
  margin: 0vh 0vw 0vh 1vw;
}

