body {
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 100%;
}

show-button {
  width: 15vw;
  height: 15vh
}

.true {
  background-color: darkred;
}

.false {
  background-color: aliceblue;
}

show-container {
  flex-direction: row;
  width: 100vw
}

.submit {
  width: 90vw;
  background-color:red
}

.admin-form {
  width: 80%;
  align-self: center;
  justify-content: center; 
} 

.available-comics {
  display: flex;
  justify-content: space-between;
}

.available-comics {
  display: flex;
  flex-direction: column;
}